<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="User">
            <directory>tests/User</directory>
        </testsuite>
        <testsuite name="UserRepository">
            <directory>tests/UserRepositoy</directory>
        </testsuite>
    </testsuites>
</phpunit>